{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:run {:main-opts ["-m" "cc.delboni.understanding-computation"]}
  :test {:extra-paths ["test" "test/resources"]
         :extra-deps {nubank/matcher-combinators {:mvn/version "3.9.1"}
                      lambdaisland/kaocha {:mvn/version "1.88.1376"}}
         :main-opts ["-m" "kaocha.runner"]}}}
